In [700]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.preprocessing import StandardScaler

In [701]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv',na_values=['?'])
MEco=pd.read_csv('MEco.csv',na_values=['?'])

In [702]:
w.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity(%) high,Humidity(%) avg,Humidity(%) low,Sea Level Press.(hPa) high,Sea Level Press.(hPa) avg,Sea Level Press.(hPa) low,Visibility(km) high,Visibility(km) avg,Visibility(km) low,Wind(km/h) low,Wind(km/h) avg,Wind(km/h) high
0,2009,1,16.500000,0.866667,-1.966667,-5.200000,-5.766667,-9.666667,-13.833333,72.366667,57.833333,42.666667,1021.166667,1015.733333,1010.366667,16.000000,13.933333,11.300000,26.666667,11.800000,38.633333
1,2009,2,14.500000,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,1017.071429,1012.464286,16.000000,15.178571,13.285714,27.928571,12.214286,41.642857
2,2009,3,16.000000,9.838710,5.967742,1.774194,0.258065,-2.903226,-6.741935,74.096774,57.064516,39.548387,1025.096774,1021.064516,1017.032258,16.000000,14.258065,10.677419,27.000000,11.387097,38.612903
3,2009,4,15.500000,17.100000,12.733333,7.833333,6.233333,2.533333,-1.200000,75.466667,55.700000,35.733333,1018.833333,1014.533333,1010.433333,15.900000,14.066667,10.866667,27.300000,11.366667,39.566667
4,2009,5,15.413793,20.931034,16.655172,12.206897,12.689655,9.827586,6.206897,85.827586,68.827586,51.413793,1020.448276,1017.241379,1014.172414,15.896552,12.275862,8.965517,22.379310,8.000000,32.620690

In [703]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 100

In [704]:
df1 = pd.read_excel('weather.xlsx', '2009',na_values=['?','-','<'])
df2 = pd.read_excel('weather.xlsx', '2010',na_values=['?','-','<'])
df3 = pd.read_excel('weather.xlsx', '2011',na_values=['?','-','<'])
df4 = pd.read_excel('weather.xlsx', '2012',na_values=['?','-','<'])
df5 = pd.read_excel('weather.xlsx', '2013',na_values=['?','-','<'])
df6 = pd.read_excel('weather.xlsx', '2014',na_values=['?','-','<'])
df7 = pd.read_excel('weather.xlsx', '2015',na_values=['?','-','<'])
w=pd.concat([df1,df2,df3,df4,df5,df6,df7])

In [705]:
w.shape

(2556, 23)

In [706]:
train.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [707]:
months=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [708]:
for i in range(len(months)):
  w['Month'].replace(months[i],i+1,inplace=True)

In [709]:
w.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,1,1,-3,-6,-9,-16,-17,-19,54,43,32,1025,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,1,2,1,-2,-5,-3,-7,-17,78,57,36,1022,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,1,3,3,1,-2,-5,-9,-13,72,54,35,1018,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,1,4,6,1,-4,-10,-12,-13,55,42,29,1020,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,1,5,6,5,3,-1,-5,-16,62,48,33,1016,1014,1013,16,16,16,23,11,34,T,NaN

In [710]:
cols=list(w.columns)
newcols=[]
for col in cols:
    newcols.append(str(col).replace("\xa0",""))
w.columns=newcols

In [711]:
w.isnull().sum()

Year                             0
Month                            0
Day                              0
Temp high (°C)                   2
Temp avg (°C)                    2
Temp low (°C)                    2
Dew Point high (°C)              2
Dew Point avg (°C)               2
Dew Point low (°C)               2
Humidity(%) high                 2
Humidity(%) avg                  2
Humidity(%) low                  2
Sea Level Press.(hPa) high      14
Sea Level Press.(hPa) avg       14
Sea Level Press.(hPa) low       14
Visibility(km) high             23
Visibility(km) avg              23
Visibility(km) low              23
Wind(km/h) low                  15
Wind(km/h) avg                  15
Wind(km/h) high                 46
Precip.(mm) sum                  1
WeatherEvent                  1662
dtype: int64

In [712]:
w.dropna(subset=['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity(%) high', 'Humidity(%) avg',
       'Humidity(%) low', 'Sea Level Press.(hPa) high',
       'Sea Level Press.(hPa) avg', 'Sea Level Press.(hPa) low',
       'Visibility(km) high', 'Visibility(km) avg', 'Visibility(km) low',
       'Wind(km/h) low', 'Wind(km/h) avg', 'Wind(km/h) high',
       'Precip.(mm) sum'],inplace=True)

In [713]:
w.columns

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity(%) high', 'Humidity(%) avg',
       'Humidity(%) low', 'Sea Level Press.(hPa) high',
       'Sea Level Press.(hPa) avg', 'Sea Level Press.(hPa) low',
       'Visibility(km) high', 'Visibility(km) avg', 'Visibility(km) low',
       'Wind(km/h) low', 'Wind(km/h) avg', 'Wind(km/h) high',
       'Precip.(mm) sum', 'WeatherEvent'],
      dtype='object')

w[w['WeatherEvent'].notnull()]['Precip.(mm) sum'].replace('T',w[w['WeatherEvent'].notnull()]['Precip.(mm) sum'].mean(),inplace=True)

In [714]:
numcols=['Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity(%) high', 'Humidity(%) avg',
       'Humidity(%) low', 'Sea Level Press.(hPa) high',
       'Sea Level Press.(hPa) avg', 'Sea Level Press.(hPa) low',
       'Visibility(km) high', 'Visibility(km) avg', 'Visibility(km) low',
       'Wind(km/h) low', 'Wind(km/h) avg', 'Wind(km/h) high',
       ]

In [715]:
print(w.loc[w['Temp high (°C)']=='high'])

   Year  Month  Day Temp high (°C) Temp avg (°C) Temp low (°C)  \
0  2014      1    1           high           avg           low

  Dew Point high (°C) Dew Point avg (°C) Dew Point low (°C) Humidity(%) high  \
0                high                avg                low             high

  Humidity(%) avg Humidity(%) low Sea Level Press.(hPa) high  \
0             avg             low                       high

  Sea Level Press.(hPa) avg Sea Level Press.(hPa) low Visibility(km) high  \
0                       avg                       low                high

  Visibility(km) avg Visibility(km) low Wind(km/h) low Wind(km/h) avg  \
0                avg                low            low            avg

  Wind(km/h) high Precip.(mm) sum WeatherEvent
0            high             sum          NaN

In [716]:
w.drop(w.index[0],inplace=True)
w.drop(columns='Precip.(mm) sum',inplace=True)

In [717]:
for col in numcols:
    print(col)
    w[col]=w[col].astype('float64')

Temp high (°C)
Temp avg (°C)
Temp low (°C)
Dew Point high (°C)
Dew Point avg (°C)
Dew Point low (°C)
Humidity(%) high
Humidity(%) avg
Humidity(%) low
Sea Level Press.(hPa) high
Sea Level Press.(hPa) avg
Sea Level Press.(hPa) low
Visibility(km) high
Visibility(km) avg
Visibility(km) low
Wind(km/h) low
Wind(km/h) avg
Wind(km/h) high

In [718]:
w.dtypes

Year                            int64
Month                           int64
Day                             int64
Temp high (°C)                float64
Temp avg (°C)                 float64
Temp low (°C)                 float64
Dew Point high (°C)           float64
Dew Point avg (°C)            float64
Dew Point low (°C)            float64
Humidity(%) high              float64
Humidity(%) avg               float64
Humidity(%) low               float64
Sea Level Press.(hPa) high    float64
Sea Level Press.(hPa) avg     float64
Sea Level Press.(hPa) low     float64
Visibility(km) high           float64
Visibility(km) avg            float64
Visibility(km) low            float64
Wind(km/h) low                float64
Wind(km/h) avg                float64
Wind(km/h) high               float64
WeatherEvent                   object
dtype: object

w[w['WeatherEvent'].isnull()]['Precip.(mm) sum']=0
w[w['WeatherEvent'].notnull()]['Precip.(mm) sum'].replace('T',w[w['WeatherEvent'].notnull() & w['WeatherEvent']!='T' ]['Precip.(mm) sum'].mean(),inplace=True)

In [719]:
w['WeatherEvent'].replace(np.nan,0,inplace=True)

In [720]:
w['WeatherEvent'].replace(0,'Normal',inplace=True)

In [721]:
w['WeatherEvent'].value_counts()

Normal               1613
Rain                  586
Fog , Rain            137
Snow                   61
Fog , Snow             36
Rain , Snow            24
Fog , Rain , Snow      20
Fog                    12
Thunderstorm            1
Name: WeatherEvent, dtype: int64

In [722]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [723]:
le=LabelEncoder()

In [724]:
w['WeatherEvent']=le.fit_transform(w['WeatherEvent'])

In [725]:
w=w.groupby(by=['Year','Month']).mean()

In [726]:
w.reset_index(inplace=True)

In [727]:
w.drop(columns='WeatherEvent',inplace=True)

In [728]:
data=pd.merge(w,train)
testdata=pd.merge(w,test)
data1=pd.merge(data,MEco)
testdata1=pd.merge(testdata,MEco)



data1=pd.get_dummies(data1,columns=['ProductCategory'])
testdata1=pd.get_dummies(testdata1,columns=['ProductCategory'])

In [729]:
data1.shape

(216, 41)

In [730]:
testdata1.shape

(36, 41)

In [731]:
data.columns

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity(%) high', 'Humidity(%) avg',
       'Humidity(%) low', 'Sea Level Press.(hPa) high',
       'Sea Level Press.(hPa) avg', 'Sea Level Press.(hPa) low',
       'Visibility(km) high', 'Visibility(km) avg', 'Visibility(km) low',
       'Wind(km/h) low', 'Wind(km/h) avg', 'Wind(km/h) high',
       'ProductCategory', 'Sales(In ThousandDollars)'],
      dtype='object')

In [732]:
MEco.columns

Index(['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports', 'Year',
       'Month'],
      dtype='object')

In [733]:
testdata1.columns

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity(%) high', 'Humidity(%) avg',
       'Humidity(%) low', 'Sea Level Press.(hPa) high',
       'Sea Level Press.(hPa) avg', 'Sea Level Press.(hPa) low',
       'Visibility(km) high', 'Visibility(km) avg', 'Visibility(km) low',
       'Wind(km/h) low', 'Wind(km/h) avg', 'Wind(km/h) high',
       'Sales(In ThousandDollars)', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory_MenClothing', 'ProductCategory_OtherClothing',
       'ProductCategory_WomenClothing'],
      dtype='object')

In [734]:
data1.drop(columns='AdvertisingExpenses (in Thousand Dollars)',inplace=True)
testdata1.drop(columns='AdvertisingExpenses (in Thousand Dollars)',inplace=True)

In [735]:
testdata1.drop(columns=['Sales(In ThousandDollars)'],inplace=True)

In [736]:
rf=RandomForestRegressor(n_estimators=100)

In [737]:
data1.dropna(inplace=True)

In [738]:
X=data1.drop(columns=['Sales(In ThousandDollars)'])
y=data1['Sales(In ThousandDollars)']

In [739]:
X.isnull().sum()

Year                                                                 0
Month                                                                0
Day                                                                  0
Temp high (°C)                                                       0
Temp avg (°C)                                                        0
Temp low (°C)                                                        0
Dew Point high (°C)                                                  0
Dew Point avg (°C)                                                   0
Dew Point low (°C)                                                   0
Humidity(%) high                                                     0
Humidity(%) avg                                                      0
Humidity(%) low                                                      0
Sea Level Press.(hPa) high                                           0
Sea Level Press.(hPa) avg                                            0
Sea Level Press.(hPa) low                                            0
Visibility(km) high                                                  0
Visibility(km) avg                                                   0
Visibility(km) low                                                   0
Wind(km/h) low                                                       0
Wind(km/h) avg                                                       0
Wind(km/h) high                                                      0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
ProductCategory_MenClothing                                          0
ProductCategory_OtherClothing                                        0
ProductCategory_WomenClothing                                        0
dtype: int64

In [740]:
y.isnull().sum()

0

In [741]:
rf.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [742]:
testdata1.isnull().sum()

Year                                                                 0
Month                                                                0
Day                                                                  0
Temp high (°C)                                                       0
Temp avg (°C)                                                        0
Temp low (°C)                                                        0
Dew Point high (°C)                                                  0
Dew Point avg (°C)                                                   0
Dew Point low (°C)                                                   0
Humidity(%) high                                                     0
Humidity(%) avg                                                      0
Humidity(%) low                                                      0
Sea Level Press.(hPa) high                                           0
Sea Level Press.(hPa) avg                                            0
Sea Level Press.(hPa) low                                            0
Visibility(km) high                                                  0
Visibility(km) avg                                                   0
Visibility(km) low                                                   0
Wind(km/h) low                                                       0
Wind(km/h) avg                                                       0
Wind(km/h) high                                                      0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
ProductCategory_MenClothing                                          0
ProductCategory_OtherClothing                                        0
ProductCategory_WomenClothing                                        0
dtype: int64

In [743]:
pred=rf.predict(testdata1)

In [744]:
pred.size

36

In [745]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':pred})
df.to_csv('df.csv',index=False)